
@{
    ViewBag.Title = "Gallery";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/gallery.css">
}

@section scripts{
    @*<script src="~/Scripts/gallery.js"></script>*@
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
}

<body>
    <a href='@Url.Action("Index", "Home")'> <img src="~/Content/Menu_Icons/back_btn.png" alt="Back button" id="back_btn"> </a>
    <h1>Image Gallery</h1>
    <div class="container">
        <div class="row justify-content-center">
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2242.jpg"><img src="~/Content/Images/Thumbs/DSC_2242.jpg" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2243.jpg"><img src="~/Content/Images/Thumbs/DSC_2243.jpg" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2300.JPG"><img src="~/Content/Images/Thumbs/DSC_2300.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2300_panorama.jpg"><img src="~/Content/Images/Thumbs/DSC_2300_panorama.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2307.jpg"><img src="~/Content/Images/Thumbs/DSC_2307.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2332.JPG"><img src="~/Content/Images/Thumbs/DSC_2332.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2392-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2392-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2393-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2393-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2398-2.JPG"><img src="~/Content/Images/Thumbs/DSC_2398-2.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2399-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2399-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2400-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2400-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2405-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2405-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2407-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2407-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2410-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2410-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2412-2.JPG"><img src="~/Content/Images/Thumbs/DSC_2412-2.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2415-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2415-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2416-2.JPG"><img src="~/Content/Images/Thumbs/DSC_2416-2.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2418-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2418-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2484-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2484-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_2506-1.JPG"><img src="~/Content/Images/Thumbs/DSC_2506-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_6368.jpg"><img src="~/Content/Images/Thumbs/DSC_6368.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_6377-1.jpg"><img src="~/Content/Images/Thumbs/DSC_6377-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_6394-1.jpg"><img src="~/Content/Images/Thumbs/DSC_6394-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7143.JPG"><img src="~/Content/Images/Thumbs/DSC_7143.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7151-1.JPG"><img src="~/Content/Images/Thumbs/DSC_7151-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7189.jpg"><img src="~/Content/Images/Thumbs/DSC_7189.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7269-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7269-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7270-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7270-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7278.jpg"><img src="~/Content/Images/Thumbs/DSC_7278.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7282.jpg"><img src="~/Content/Images/Thumbs/DSC_7282.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7286.jpg"><img src="~/Content/Images/Thumbs/DSC_7286.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7301 (1).jpg"><img src="~/Content/Images/Thumbs/DSC_7301 (1).JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7302.jpg"><img src="~/Content/Images/Thumbs/DSC_7302.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7448-2.jpg"><img src="~/Content/Images/Thumbs/DSC_7448-2.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7540-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7540-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7617-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7617-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7619-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7619-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7624-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7624-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7632-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7632-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7635-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7635-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7663-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7663-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7670-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7670-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7680-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7680-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7693-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7693-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7695-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7695-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7742-2.jpg"><img src="~/Content/Images/Thumbs/DSC_7742-2.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7826-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7826-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7830-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7830-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7832-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7832-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7835-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7835-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7841-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7841-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7889-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7889-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_7896-1.jpg"><img src="~/Content/Images/Thumbs/DSC_7896-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8171-1.JPG"><img src="~/Content/Images/Thumbs/DSC_8171-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8185-1-1.JPG"><img src="~/Content/Images/Thumbs/DSC_8185-1-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8185-3.jpg"><img src="~/Content/Images/Thumbs/DSC_8185-3.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8362-1.JPG"><img src="~/Content/Images/Thumbs/DSC_8362-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8366-1.JPG"><img src="~/Content/Images/Thumbs/DSC_8366-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8372.JPG"><img src="~/Content/Images/Thumbs/DSC_8372.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8390-1.JPG"><img src="~/Content/Images/Thumbs/DSC_8390-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8392.JPG"><img src="~/Content/Images/Thumbs/DSC_8392.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8397-1.jpg"><img src="~/Content/Images/Thumbs/DSC_8397-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8398.JPG"><img src="~/Content/Images/Thumbs/DSC_8398.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8399.JPG"><img src="~/Content/Images/Thumbs/DSC_8399.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8400.JPG"><img src="~/Content/Images/Thumbs/DSC_8400.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8402.JPG"><img src="~/Content/Images/Thumbs/DSC_8402.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8434.JPG"><img src="~/Content/Images/Thumbs/DSC_8434.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8436.JPG"><img src="~/Content/Images/Thumbs/DSC_8436.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8437.JPG"><img src="~/Content/Images/Thumbs/DSC_8437.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8439.JPG"><img src="~/Content/Images/Thumbs/DSC_8439.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8482.JPG"><img src="~/Content/Images/Thumbs/DSC_8482.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8494.JPG"><img src="~/Content/Images/Thumbs/DSC_8494.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8628-1.jpg"><img src="~/Content/Images/Thumbs/DSC_8628-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8925-1.jpg"><img src="~/Content/Images/Thumbs/DSC_8925-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8926-1.jpg"><img src="~/Content/Images/Thumbs/DSC_8926-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8929-1.jpg"><img src="~/Content/Images/Thumbs/DSC_8929-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8930-1.jpg"><img src="~/Content/Images/Thumbs/DSC_8930-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_8993-1.jpg"><img src="~/Content/Images/Thumbs/DSC_8993-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9022-1.jpg"><img src="~/Content/Images/Thumbs/DSC_9022-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9062-2.JPG"><img src="~/Content/Images/Thumbs/DSC_9062-2.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9065-2.JPG"><img src="~/Content/Images/Thumbs/DSC_9065-2.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9067-1.JPG"><img src="~/Content/Images/Thumbs/DSC_9067-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9067-2.JPG"><img src="~/Content/Images/Thumbs/DSC_9067-2.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9071-1.JPG"><img src="~/Content/Images/Thumbs/DSC_9071-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9073-1.JPG"><img src="~/Content/Images/Thumbs/DSC_9073-1.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9566.JPG"><img src="~/Content/Images/Thumbs/DSC_9566.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
            <a data-fancybox="gallery" href="~/Content/Images/Photos/DSC_9567.JPG"><img src="~/Content/Images/Thumbs/DSC_9567.JPG" class="img-fluid col-xl-2 col-md-3 col-sm-4 col-6"></a>
        </div>
    </div>

</body>

