<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Elena Shavarska - Interactive resume</title>
    <meta name="author" content="Elena Shavarska">
    <meta name="description" content="Back-end Elena Shavarska - Homepage">
    <meta name="keywords" content="resume, programming, Front-end, Back-end, Java, C++, HTML5, JavaScript, CSS3, jQuery">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


</head>
<body>
    @RenderBody()
</body>
</html>
